<h1>This app will determine if the inputted lengths will make a traingle and if so what kind of traingle.</h1>

<form  action="/output">
  <div class="form-group">
    <label for="side_1">Side number one</label>
    <input  name="side_1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side_2">Side number two</label>
    <input  name="side_2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side_3">Side number three</label>
    <input  name="side_3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Find out.</button>
</form>
